<footer id="contact" class="footer">
    <div class="container">
        <div class="cta-box fade-in-up">
            <h2 class="cta-title">Hablemos de tu próximo proyecto</h2>
            <p class="cta-text">
                ¿Listo para dar el siguiente paso? Contáctame para discutir cómo podemos trabajar juntos.
            </p>
            <a href="mailto:jorgereyes7c@gmail.com" class="btn btn-primary">Contáctame</a>
        </div>

        <div class="footer-content">
            <div class="social-links">
                <a href="https://github.com/Kokeez" class="social-link"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/jorge-alejandro-reyes-armijo-4508ba224/" class="social-link"><i
                        class="bi bi-linkedin"></i></a>
            </div>
            <p class="copyright">
                © 2025 Jorge Reyes. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>